<header rol="banner" class="hero">
	<div class="l-container">

		<img class="hero-logo" title="Louisville.io" src="images/louisville-io-logo-light.svg"/>



	</div>
</header>

<main role="main" class="l-content">
	<div class="l-container">

		<h1>Louisville Tech Event Calendar</h1>

		<div class="batch-g batch-g--gutter batch-g--padding">
			{{#each events}}
				{{> event}}
			{{/each}}
		</div>

		</div>
</main>

<script type="text/javascript">
window.onload = function () {
	setMenuState(1);
}
</script>
